<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
    <h1>회원 가입</h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>
    <!-- 아이디(이메일, 이름, 비밀번호, 전화번호
    서버에서 동작하기 위한 조건
    1. form 태그로 덮여있어야 한다.
    2. 태그들은 name을 가져야 한다.

    -->
    <form method = "post">
        <div>
            <label>
                <input type="radio" name="userType" value="normal" required/> 일반 사용자
            </label>
            <label>
                <input type="radio" name="userType" value="manager" required/> 점장
            </label>
        </div>
        <div>
            <input type="text" name="userId" placeholder="아이디 입력" required/>
        </div>
        <div>
            <input type="text" name="userName" placeholder="이름 입력" required/>
        </div>
        <div>
            <input type="tel" name="phone" placeholder="전화번호 입력" required/>
        </div>
        <div>
            <input type="password" name="password" placeholder="비밀번호 입력" required/>
        </div>
        <div>
            <input type="password" name="rePassword" placeholder="확인 비밀번호 입력" required/>
        </div>
        <div>
            <button>회원 가입 하기</button>
        </div>
    </form>

</body>
</html>